# Just ignore everything
*

# Except
!.bashrc
!.profile
!.vimrc
!.xbindkeysrc
!.xinitrc
!.xprofile

# Configs
!.config/aliasrc
!.config/calcurse
!.config/dunst
!.config/fontconfig
!.config/getkeys
!.config/gtk-2.0
!.config/gtk-3.0
!.config/i3
!.config/i3blocks
!.config/light
!.config/mpd
!.config/mpv
!.config/ncmpcpp
!.config/nvim
!.config/pulse
!.config/lf
!.config/scripts
!.config/sxhkd
!.config/sxiv/exec
!.config/zathura
!.config/aliasrc
!.config/bmdirs
!.config/bmfiles
!.config/emoji
!.config/fontawesome
!.config/shortcutrc
!.config/user-dirs.dirs
!.config/wall.png
