# Dirs to ignore
/Developer
/Documents
/Music
/Pictures
/Downloads
/google-cloud-sdk
Notebooks


.local/share
*.log
.cache
.ssh
.ssh-agent-thing
.bash_history
.psql_history
.python_history
.bigqueryrc

# configs to ignore
.config/chromium/
.vim/plugged
.config/nvim/plugged
